body {
  background-color:#f9f9f9;
}

a { color: #fb5c00 !important; }

.panel-body > small {
  color: black;
}
/* https://web.dev/color-contrast/?utm_source=lighthouse&utm_medium=devtools */

.social {
padding: 0%;
margin: 0%;
font-size: 1.2em;
}

.center-pills { display: inline-block; }

.navbar-default .navbar-nav>li>a {
  font-size: 1.5em;
}

.row .logo {
  display:block;
  width: 40%;
  height: 40%;
  max-width:500px;
}

.panel-title {
  color: #fb5c00;
  font-size: 1.18em;
}

.post-meta {
  color: #565656;
}

footer {
  background-color: #e86826;
  color: #000000;
  font-size: 18px;
}

footer a {
  color: #ffffff !important;
  font-size: 24px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fb5c00;
  cursor: default;
  background-color: #fcf9f4;
  border-color: #fb8100;
}

.pagination {
  color: #fb5c00 ;
  font-size: 1.5em;
}

.pagination>li>a, .pagination>li>span {
  padding: 6px 15px;
  /*line-height: 1.9; */
}

/*
https://brightside.me/article/the-ultimate-color-combinations-cheat-sheet-92405/
*/