{{ define "main" }}

<div class="home">

  <div class="row pack">
    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}
    {{ range $paginator.Pages }}   
    <div class="col-md-4 card">
      <a href="{{ .Permalink }}" class="index-anchor">    
        <div class="panel panel-default">

          {{ if .Params.img }}
          <img src="{{ .Site.BaseURL }}images/{{ .Params.img }}" alt="{{ .Title }}">
          {{ else }}
          <img src="{{ .Site.BaseURL }}images/{{ .Site.Params.defaultImage }}" alt="{{ .Site.Title }}">
          {{ end }}

          <div class="panel-body">
            <h2 class="panel-title pull-left">{{ .Title | truncate 25 }}</h2><span class="post-meta pull-right"><small>{{ .Date.Format "2006-01-02" }}</small></span>
          </div>
          
          <div class="panel-body"><small>
            {{ .Summary | plainify | truncate 180 }}</small>
          </div>
        </div>
        </a>
    </div>
    {{ end }}
  </div> 

  <div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-4">
      {{- partial "pagination.html" . -}}
    </div>
    <div class="col-md-4">  </div>
  </div>
</div>

{{ end }}