{{ define "footerfiles" }}
<script src="{{ "js/fuse.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.mark.min.js" | absURL }}"></script>
<script src="{{ "js/search.js" | absURL }}"></script>
{{ end }}
{{ define "main" }}
<section class="resume-section p-3 p-lg-5 d-flex flex-column">
  <div class="my-auto" >
    <form action="{{ "search" | absURL }}/">
      <input id="search-query" name="s"/>
    </form>
    <div id="search-results">
      <h1>Buscador de articulos del podcast</h1>
    </div>
  </div>
</section>
<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
      <h2><a href="${link}">${title}</a></h2>
      <p>${snippet}</p>
      ${ isset tags }<p>Etiquetas: ${tags}</p>${ end }
      ${ isset categories }<p>Categorías: ${categories}</p>${ end }
    </div>
</script>
{{ end }}