{{ define "main" }}
<div class="row">
  <div class="col-md-8">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
        <p class="post-meta"><time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}' itemprop="datePublished">{{ .Date.Format "2006-01-02" }}</time>{{ with .Params.Author }} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ . }}</span></span>{{ end }}</p>
      </header>

      {{ if .Params.img }}
      <div class="img visible-sm-block visible-xs-block">
        <img width="270" src="{{ .Site.BaseURL}}images/{{ .Params.img }}" alt="{{ .Params.title }}">
      </div>
      {{ end }}

      <div class="post-content" itemprop="articleBody">
        {{ .Content }}
      </div>

    </article>

    {{ if .Site.Params.hashover }}
    <div class="row">
        {{ partial "hashover.html" . }}
    </div>
    {{ end }}

    <div class="row">
      <ul class="pager">
        {{ with .NextPage }}
          <li><a class="next" href="{{ .Permalink }}">&laquo; {{ .Title }}</a></li>
        {{ end }}
        {{ with .PrevPage }}
          <li><a class="previous" href="{{ .Permalink }}">{{ .Title }} &raquo;</a></li>
        {{ end }}
      </ul>
    </div>
  </div>

  {{ partial "sidebar.html" . }}

</div>
{{ end }}