<footer>
    <div class="container">
        <div class="row p20">
            {{ with .Site.Params.copyright }}
            <div class="col-md-4 text-center mt25">{{ .text }} <a target="_blank" href="{{ .link }}">{{ .name }}</a></div>
            {{ end }}

            <div class="col-md-4 text-center mt25" >
                {{ with .Site.Copyright }}
                <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/deed.es"><img src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" alt="{{.}}"></a>
                {{ end }}
            </div>

            <div class="col-md-4 text-center mt25">
                <a href="/etiquetas">Etiquetas</a> y 
                <a href="/taxonomias">Taxonomías</a>
            </div>

        </div> 
    </div>
</footer>
